# THIS FILE IS MANAGED BY ANSIBLE
# CHANGES WILL BE OVERWRITTEN
#
# ~/.bashrc
#

# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias ls='ls --color=auto'
PS1='[\u@\h \W]\$ '
alias ll='ls -la'
alias config-network='nm-connection-editor &'
alias config-audio='pavucontrol &'
alias config-display='arandr &'
alias mul-vpn="printf '1\n{{ uni_user }}\n{{ uni_pw }}\n' | sudo openconnect mulvpn.unileoben.ac.at"
alias hx='helix'
alias ze='zellij'
set -o vi
